.header {
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.header h1{
  color: black;
  vertical-align: middle; 
  display: inline-block;
  }

.header img
{
  width: 100px;
}


element.style {
  flex: 0 1 auto;
  width: 175px;
}
.one{
text-align: left;
flex: 0 1 auto;
width: 175px;
}

.one p{
  text-align: center;
    display: inline-block;
    flex: 0 1 auto;
    border: 9px solid transparent;
    background-color: whitesmoke;
    color: black; 
    display: inline;
}

.pic{
  width: inherit;
  border-radius: 4px;
}
.container
{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 960px;

}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}


.two
  {
    border: 9px solid transparent;
    background-color: whitesmoke;
    color: black; 
    display: inline;
    margin-left: 8px;
  }
.pic
  {
    width: 150px;
    margin-bottom: 60px;
  }



.jobtitle{
  font-family: 'FredokaOne', cursive;
}

.jobdes{
}

.jobduty{}

body {
  background-color: lightpink;
}



