.header {
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.header h1{
  color: black;
  vertical-align: middle; 
  display: inline-block;
  }

.header img
{
  width: 100px;
}


element.style {
  flex: 0 1 auto;
  width: 175px;
}
.one{
text-align: left;
flex: 0 1 auto;
width: 175px;
}

.one p{
  text-align: center;
    display: inline-block;
    flex: 0 1 auto;
}

.pic{
  width: inherit;
}
.container
{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 960px;

}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 

}


.two
  {
    border: 9px solid transparent;
  }
.pic
  {
    width: 200px;
  }



.jobtitle{}

.jobdes{
}

.jobduty{}





